!!!
%html{:lang => "en"}
  %head{:profile => "http://gmpg.org/xfn/11"}
    %title rubycious.com

    %link{"rel" => "alternate", "type" => "application/rss+xml", "href" => "http://feeds.feedburner.com/rubyciouscom"}

    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    %meta{:name => "author", :content => "Sebastian Zuchmański"}
    %meta{:name => "description", :content => "Most interesing articles about Ruby and Ruby on Rails in one place. All submitted by users."}

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      #header
        %h1
          = link_to root_url do
            %span> ruby
            cious
        #menu
          %div
            %ul
              %li
                - if current_user
                  = link_to "logout (#{current_user.username})", session_path(0), :method => :delete
                - else
                  = link_to 'log in via github', '/auth/github'

              %li= link_to 'my profile', profile_path

          %div
            %ul
              %li
                = link_to new_article_path do
                  %strong submit article

              %li
                = link_to 'about rubycious', about_path


      #content
        #notice
          - if flash[:notice]
            = render :partial => 'shared/notice', :locals => {:notice => flash[:notice]}

        = yield

      #footer
        Copyright © 2012
        = link_to 'S. Zuchmański (@sebcioz).', "https://twitter.com/#!/sebcioz"
        = link_to "About Rubycious.com", about_path

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31726356-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();